linearsearch
binarysearch
bsearch_recurs
arraytraversal
arr_insert
arr_delete
stack_demo
stack_obj
queue_demo
circularqueue
swapval
arr_add
arr_mult
pqueue
stack_struct
double_ended_queue
infix_to_postfix
bubble_sort
selection_sort
merge_sort
quick_sort
insertion_sort
