.directory
linearsearch
binarysearch
bsearch_recurs
arraytraversal
arr_insert
arr_delete
stack_demo
stack_obj
queue_demo
circularqueue
swapval
arr_add
arr_mult
pqueue
stack_struct
double_ended_queue
infix_to_postfix
